.super-mario {
    width: 170px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 90px;
    margin-top: 250px;
    margin-left: 50px;
    position: absolute;
    z-index: 2;
  }
  
  .baloon {
    width: 300px;
    position: absolute;
    margin: 20px 700px;
    z-index: 3;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    margin: 100px 370px;
    z-index: 4;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    margin-top: 40px;
    margin-left: 650px;
    z-index: 5;
  }